.side_ankerpane{
	-fx-background-color: #2207bb;
	-fx-border-color: #000000;
	-fx-border-width: 2px 2px 2px 2px;
	-fx-background-radius: 50px;
	-fx-border-style: solid;
} 
.inner_pane{
	-fx-background-color: #748CF1;
	-fx-border-width: 2px 2px 2px 2px;
	-fx-background-radius: 50px;
	-fx-border-style: solid;
}